.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.card2 {
	width: 300px;
	height: 300px;
	border: 2px solid black;
	border-radius: 15px;
	margin: 5px;
}

/* .search-wrap {
	display: flex;
	flex-direction: column;
	gap: .25rem;
} */

.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: .25rem;
	margin-top: 1rem;
}
